#app {
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 10px;
}

form {
  margin: 20px;
}

#btn-primary {
  display: flex;

}

#button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#showAll-btn {
  margin-right: 20px;
}

#cats-btn {
  background-color: blue;
  margin-left: 20px;
  margin-right: 20px;
}

#dogs-btn {
  background-color: greenyellow;
  margin-left: 20px;
  margin-right: 20px;
}

#dinos-btn {
  background-color: orange;
  margin-left: 20px;
}
